modules = ["system"]

[nix]
channel = "stable-24_05"
packages = ["nmap"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "NSE Script Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "nse_script_test"

[[workflows.workflow]]
name = "NSE Script Test"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x test-script.sh && ./test-script.sh"

[[workflows.workflow]]
name = "nse_script_test"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x test-script.sh && ./test-script.sh"
